{% extends "../layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

    {% call card.render('Detalhes do usuário', 'user-dashboard container') %}

    <form action="/users?_method=PUT" method="POST">

    <div class="fields">

    {% include "users/fields.njk" %}
        
        <input 
            type="hidden" 
            name="id" 
            value="{{ user.id }}"
        >
        
    </div>
    
    <button class="button edit" type="submit">Atualizar</button>
    
    </form>

    <form action="/users?_method=DELETE" id="form-delete" method="POST">

        <input type="hidden" name="id" value="{{ user.id }}">
        <button class="button delete" type="submit">Deletar</button>

    </form>
    
    {% endcall %}

{% include "users/confirm.njk" %}

{% endblock content %}