.card {
    background-color: #fff;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .6);
    border-radius: 4px;

    width: 90%;
}

.card-header h3 {
    color: var(--primary-color);

    font-size: 14px;
    line-height: 24px;
    letter-spacing: .7px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 16px;
}