.cart .header {
    margin-bottom: 16px;

    color: #333;
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.cart .header, 
.cart .item {
    display: grid;
    grid-template-columns: 1fr 100px 100px 30px;
    align-items: center;
    grid-gap: 16px;
}

.cart .item {
    border-bottom: 1px solid #eee;
    padding: 16px 0;

    transition: .2s;
}

.cart .item > a {
    display: flex;
    align-items: center;

    margin-left: 8px;
}

.cart .item > a img {
    width: 50px;
    height: 50px;

    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, .4);
    border-radius: 4px;

    object-fit: contain;

    margin-right: 16px;
}

.cart .item .title {
    color: var(--text-base);
    font-size: 18px;
}

.cart .item .price,
.cart .header p:nth-child(2),
.cart .header p:nth-child(3) {
    text-align: center;
}

.cart .item .price {
    color: #444;
}

.cart .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .quantity-control .quantity {
    margin: 0 8px;
}

.cart i {
    cursor: pointer;

    background: #fff;
    padding: 6px;
}

.cart .quantity-control i {
    color: #444;
}

.cart .delete {
    color: var(--error-color);
}

.cart .total {
    text-align: right;
    
    margin-top: 16px;
}

.cart .total p {
    color: #777;
    
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 4px;
}

.cart .total span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.cart .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 24px;
}

.cart .button.shop,
.cart .button.order  {
    width: 240px;

    margin: 0;
} 

.cart .button.order {
    background-color: var(--success-color);
}

.cart .button.order:hover {
    background-color: #0a990a;
}