.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: initial;

    top: 32px;
}

ul.dropdown {
    width: 180px;
    position: absolute;

    top: 32px;
    left: 0;

    padding: 8px 0;
    
    display: flex;
    flex-direction: column;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .4);
    
    margin-top: 4px;

    opacity: 0;
    visibility: hidden;

    z-index: 9999;

    transition: all .2s;
}

ul.dropdown li a,
ul.dropdown li button {
    color: #333;
    background-color: #fff;
    
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2px;

    display: flex;
    align-items: center;

    text-align: start;

    width: 100%;
    height: 48px;

    padding: 0 16px;
}

ul.dropdown li:hover a,
ul.dropdown li button:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* ACTIONS */

.actions.dropdown-container {
    height: 48px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .4);
    
    display: flex;
    align-items: center;

    cursor: pointer;

    padding: 0 16px;
}

.actions.dropdown-container:hover {
    background-color: #fff;
}

.actions.dropdown-container i {
    color: var(--primary-color);
}