:root {
    --primary-color: #fd951f;
    --secondary-color: #00b0eae8;
    --text-base: #333;
    --bg-color: #efefef;
    --success-color: #00a000;
    --error-color: #D1363A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
}

body,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.button {
    background-color: var(--primary-color);
    color: #fff;

    display: block;
    margin: 16px auto;
    padding: 12px 16px;
    
    width: 100%;
    border-radius: 4px;

    /* Colocar o botão para baixo quando for grid */
    align-self: end;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    cursor: pointer;

    transition: all .2s;
}

.button:hover {
    background-color: #cc7817;
    transition: 0.2s;
}

.button.edit {
    background-color: var(--secondary-color);
}

.button.edit:hover {
    background-color: #2b9bdb;
}

.button.delete {
    background-color: #cccccc;
}

.button.delete:hover {
    background-color: var(--error-color);
}

/* VALIDATE ERROS */

.input .error {
    background-color: var(--error-color);
    color: #fff;

    padding: 4px;
    border-radius: 4px;

    text-align: center;
}
