header, footer {
    background-color: #111;
    color: #fff;

    width: 100%;
    padding: 32px 0;
    text-align: center;
}

footer {
    margin-top: auto;
}

header {
    margin-bottom: 48px;
}

header div.container {
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    grid-gap: 24px;

}

header div.container a {
    justify-self: start;
}

/* LOGO */

.logo h1 {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
}

.logo h2 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* HEADER SEARCH */

.search input {
    width: 100%;
    font-size: 16px;
    
    padding: 8px 16px;
    border-radius: 2px;
}

/* PRIMARY MENU */

nav.primary ul {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a {
    color: #fff;
    display: flex;
    align-items: center;
}

nav.primary ul li a i {
    margin-right: 8px;
}

nav.primary ul li a:hover {
    color: var(--primary-color);
    transition: .2s;
}

