.accounts {
    position: relative;
}

.accounts .submenu {
    position: absolute;

    top: 32px;
    left: 0;

    background-color: #fff;

    width: 150px;
    display: block;
    
    margin-top: 8px;

    border-radius: 4px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, .3);

    transition: .4s;

    opacity: 0;
    visibility: hidden;
}

.accounts .submenu li:first-child a {
    border: none;
}

.accounts .submenu li a,
.accounts .submenu li form button {
    color: #777;
    background-color: #fff;

    cursor: pointer;
    padding: 8px 16px;

    font-size: 14px;

    border-radius: 4px;
    border-top: 1px solid #eee;

    display: inline-block;
    width: 100%;

    transition: .2s;
}

.accounts .submenu li a:hover,
.accounts .submenu li button:hover {    
    color: var(--primary-color);
    font-weight: bold;
}

.accounts:hover .submenu {
    opacity: 1;
    visibility: initial;
    top: 0;
}
 