.order-success,
.order-error {
  padding: 0;
  padding-bottom: 112px;

  text-align: center;

  margin: auto;
}

.order-success .success-lottie,
.order-error .error-lottie {
  height: 200px;

  margin: 80px 0 56px;
}

.order-success h2,
.order-error h2,
.order-success p,
.order-error p {
  color: var(--text-base);

  margin-bottom: 8px;
}

.order-success a {
  color: var(--secondary-color);
}

.order-error a {
  color: var(--error-color);
}

.order-success a:hover,
.order-error a:hover {
  font-weight: bold;
  transition: 0.2s;
}

/* MY ORDERS */

.orders .item-container {
  display: grid;
  grid-template-columns: 1fr auto auto 100px 100px;
  align-items: center;

  gap: 32px;

  color: #333;

  padding: 16px 0;

  transition: 0.1s;
}

.orders .item-container:hover {
  background-color: #eee;

  border-radius: 4px;
}

.orders .item {
  display: flex;
}

.orders img {
  width: 70px;
  height: 70px;

  object-fit: contain;

  border: 1px solid #efefef;
  border-radius: 8px;

  box-shadow: 2px 2px 4px -4px #111;

  margin: 0 16px;
}

.orders .item div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.item .title,
.item .price,
.item .updated-at {
  color: #555;

  margin-bottom: 4px;
}

.item .title {
  color: var(--primary-color);
}

.item .price,
.orders .total {
  font-weight: bold;
}

.item .updated-at {
  font-size: 14px;
  font-weight: lighter;

  margin: auto 0 0;
}

.orders .status {
  color: #fff;

  justify-self: center;

  font-size: 12px;
  text-transform: uppercase;

  padding: 4px 12px;
  border-radius: 16px;
}

.orders .status.open {
  background-color: var(--secondary-color);
}

.orders .status.sold {
  background-color: var(--success-color);
}

.orders .status.canceled {
  background-color: var(--error-color);
}

/* DETAILS */

.order-details {
  max-width: 700px;
}

.order-details .info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  font-size: 14px;
  font-weight: lighter;

  margin-bottom: 24px;
}

.order-details .info .buyer div,
.order-details .info .seller div {
  margin-bottom: 4px;
}

.order-details .info h4 {
  color: var(--primary-color);

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.order-details .info h5 {
  color: #333;
  letter-spacing: 0.2px;

  margin-top: 8px;
}

.order-details .info .status {
  text-align: right;
}

.order-details .info .status.open h2 {
  color: var(--secondary-color);
}

.order-details .info .status.sold h2 {
  color: var(--success-color);
}

.order-details .info .status.canceled h2 {
  color: var(--error-color);
}

.order-details .info .status p {
  color: #555;

  font-size: 12px;

  margin-top: 4px;
}

.order-details .product {
  display: flex;
  align-items: center;

  width: 100%;

  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);

  padding: 16px 0;
  margin-bottom: 16px;
}

.order-details .product img {
  width: 64px;
  height: 64px;

  object-fit: contain;

  margin-right: 16px;
}

.order-details .product .name {
  font-size: 20px;
}

.order-details .product .price {
  color: #444;

  font-weight: bold;
  text-align: right;

  flex: 1;
}

.order-details .product .price .quantity {
  font-size: 14px;
  font-weight: 300;
}

.order-details .total {
  color: #333;

  font-size: 22px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-details .total span {
  font-size: 14px;
  font-weight: normal;

  margin-right: 8px;
}
