.order-success,
.order-error {
    padding: 0;
    padding-bottom: 112px;

    text-align: center;

    margin: auto;
}

.order-success .success-lottie,
.order-error .error-lottie {
    height: 200px;

    margin: 80px 0 56px;
}

.order-success h2,
.order-error h2,
.order-success p,
.order-error p {
    color: var(--text-base);
    
    margin-bottom: 8px;
}

.order-success a {
    color: var(--secondary-color);
}

.order-error a {
    color: var(--error-color);
}

.order-success a:hover,
.order-error a:hover {
    font-weight: bold;
    transition: .2s;
}

/* MY ORDERS */

.orders .item-container {
    display: grid;
    grid-template-columns: 1fr auto auto 100px;
    align-items: center;

    gap: 32px;

    color: #333;

    padding: 16px 0;
    
    transition: .1s;
}

.orders .item-container:hover {
    background-color: #eee;
    
    border-radius: 4px;
}

.orders .item {
    display: flex;
}

.orders img {
    width: 70px;
    height: 70px;

    object-fit: contain;

    border: 1px solid #efefef;
    border-radius: 8px;

    box-shadow: 2px 2px 4px -4px #111;

    margin: 0 16px;
}

.orders .item div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.item .title,
.item .price,
.item .updated-at {
    color: #555;

    margin-bottom: 4px;
}

.item .title {
    color: var(--primary-color);
}

.item .price,
.orders .total {
    font-weight: bold;
}

.item .updated-at {
    font-size: 14px;
    font-weight: lighter;

    margin: auto 0 0;
}

.orders .status {
    color: #fff;
    
    justify-self: center;

    font-size: 12px;
    text-transform: uppercase;

    padding: 4px 12px;
    border-radius: 16px;
}

.orders .status.open {
    background-color: var(--secondary-color);
}

.orders .status.sold {
    background-color: var(--success-color);
}

.orders .status.canceled {
    background-color: var(--error-color);
}