<!-- ÍCONES -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- FONTES -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<!-- ESTILOS CSS -->
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/search.css">
<link rel="stylesheet" href="/styles/shop.css">
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/photos.css">
<link rel="stylesheet" href="/styles/product.css">
<link rel="stylesheet" href="/styles/menu-accounts.css">
<link rel="stylesheet" href="/styles/session.css">

<!-- FAV ICON -->
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

