{% if session.userId %}
<ul class="dropdown">

    <li>
        <a href="/users">Minha conta</a>
    </li>

    <li>
        <a href="/users/ads">Meus anúncios</a>
    </li>

    <li>
        <a href="/orders/sales">Minhas vendas</a>
    </li>

    <li>
        <a href="/orders">Meus pedidos</a>
    </li>

    <li>
        <form action="/users/logout" method="POST">
            <button>Sair</button>
        </form>
    </li>

</ul>
{% endif %}