{% if session.userId %}
<ul class="submenu">

    <li>
        <a href="/users">Minha conta</a>
    </li>

    <li>
        <a href="/users/ads">Meus anúncios</a>
    </li>

    <li>
        <form action="/users/logout" method="POST">
            <button>Sair</button>
        </form>
    </li>

</ul>
{% endif %}